.blockquote-custom {
  position: relative;
  font-size: 1.1rem;
  }
  
  .blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -40px;
  left: 19px;
  }

  .random-quote-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .random-quote-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .random-quote-button:hover {
    background-color: #0056b3;
  }
  
  .random-quote {
    margin-top: 20px;
    font-style: italic;
    font-size: 18px;
  }

  .text-group {
    position: relative;
  }

  .help-btn {
    position: absolute;
    right: -10px;
    top: -10px;
  }

   #happy {
    height: 50px;
    width: 50px;

  }

  .card-body {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
  }